h1, h2, h3, h4, h5, h6, .vssue, .header-wrapper .title a, .ui-post-title
    font-family: 'Noto Serif SC', serif

body 
    line-height: 1
    font-family: serif
    background-color: #f2f2f2
    font-size: 1.1em

blockquote
    font-size: 1.06em

p
    font-size: 1.1em