<style>
    :root {
        --base-font-family: "Noto Serif SC", var(--sys-font-family), var(--zh-font-family);
    }
  </style>
  
  <!-->This script use to load font from outside<-->
  <script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap";
  
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
  
        document.head.appendChild(customFont);
    }());
  </script>