{{ define "main" }}

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

<div class="container prose dark:prose-invert">
    <h1 class="post-title">{{ .Title }}</h1>
    <section id="articles-list">
        {{ range $pages.GroupByDate "2006" }}
        <section>
            <h2>{{ .Key }}<sup>({{ len .Pages }})</sup></h2>
            <div class="posts">
                {{ range .Pages }}
                <div class="post">
                    <div class="post-row">
                        <time class="time">{{ .Date.Format "Jan 02" }}</time>
                        <a href="{{ .RelPermalink }}">
                            <h3 class="title">{{ .Title }}</h3>
                        </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </section>
        {{ end }}
    </section>
</div>

{{ end }}