{{- define "main" }}

<div class="container prose">
    <h1 class="post-title">{{ .Title }}</h1>

    <section>
        <ul class="terms-tags">
            {{- $type := .Type }}
            {{- range $key, $value := .Data.Terms.ByCount }}
            {{- $name := .Name }}
            {{- $count := .Count }}
            {{- with site.GetPage (printf "/%s/%s" $type $name) }}
            <li>
                <a href="{{ .Permalink }}">{{ .Name }} <sup>{{ $count }}</sup> </a>
            </li>
            {{- end }}
            {{- end }}
        </ul>
    </section>
</div>



{{- end }}{{/* end main */ -}}