.prose {
  a {
    text-decoration: none;
    border-bottom: 1px solid #7dd3fc;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid #7dd3fc;
    }
    @apply font-semibold;
  }
  font-size: 1.03rem;
  @apply prose-zinc max-w-none leading-relaxed;
}
