.header {
    margin: 100px auto 100px;
    text-align: center;
}

.header .site-name {
    font-weight: 600;
    font-size: 20px;
}

.header .navbar-item {
    font-weight: 520;
    font-size: 18px;
}