.header {
    margin: 100px auto 100px;
    text-align: center;
}

.header .site-name {
    font-weight: 600;
    font-size: 20px;
}

.header .navbar-item {
    font-weight: 520;
    font-size: 18px;
}

.item-title {
    font-size: 20px;
}

.post-date, .item-date {
    font-size: 14px;
}

body {
    font-family: 'Source Han Serif CN', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif SC', 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', source-han-serif-sc, Source Sans Pro, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-size: 17px;
}