.header {
    margin: 100px auto 100px;
    text-align: center;
}

.header .site-name {
    font-weight: 600;
    font-size: 20px;
}

.header .navbar-item {
    font-weight: 520;
    font-size: 18px;
}

.item-title {
    font-size: 20px;
}

.post-date, .item-date {
    font-size: 14px;
}

body {
    font-family: 'Source Sans Pro', 'Noto', 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', Source Sans Pro, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6, .item-title {
    font-weight: 550;
    position: relative;
}