<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head" . }}
    <body class="bg-white dark:bg-slate-900 text-slate-500 dark:text-slate-400">
        {{ partial "header" . }}
        <div class="max-w-3xl mx-auto pb-28">
            <div class="max-w-[52rem] mx-auto py-10 container prose dark:prose-invert">
                <main>
                    <h1 class="post-title">404 NOT FOUND</h1>
                </main>
            </div>
        </div>
        {{ partial "footer" . }}
    </body>
</html>
